#Logs
logs
*.log

#Dependencies
node_modules/
elm-stuff/

# Develop
examples/index.html
examples/bundle.js

# Yarn Integrity file
.yarn-integrity


#OS stuff
.DS_Store
.vscode
*.iml
/.idea

#Other stuff
documentation.json

#Deployment
examples/gh-pages/*
!examples/gh-pages/404.html
!examples/gh-pages/index.html
!examples/gh-pages/app.css
!examples/gh-pages/favicon.png
!examples/gh-pages/CNAME
